<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">

</head>
<body>
<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3" style="padding-top: 100px">
				<h1 class="text-center text-bold text-light mt-4x " style="font-family: Times New Roman;" >Send Email</h1>
				<div class="well row pt-2x pb-3x bk-light">
					<div class="col-md-8 col-md-offset-2">
						<div th:if="${param.flagsaved}" class="alert alert-success alert-dismissable" role="alert" style="width: 400px">
		<a href="#" class="close" data-dismiss="alert">&times;</a>
            <span>Email Sent</span>
         </div>
         <div th:if="${param.error}" class="alert alert-danger alert-dismissable" role="alert" style="width: 400px">
         <a href="#" class="close" data-dismiss="alert">&times;</a>
            <span>Email does not exist</span>
         </div>	
						<form class="form-signin" th:action="@{/CheckEmail}" method="post" style="padding-top: 50px">

<!-- 							<label for="email" class="text-uppercase text-sm">Email</label> -->
<!-- 							<input type="email"  placeholder="Email" -->
<!-- 								class="form-control mb" name="email" id="email" -->
<!-- 								required="required" autofocus="autofocus" />  -->


					<div class="form-group">
					<label for="email" class="cols-sm-2 control-label">Email</label>
<!-- 					<span class="bg-danger pull-right" th:if="${emailExists}">Email already Exits</span> -->
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
							<input type="email"  placeholder=" enter your email" title="enter the valid email e.g:senganesta@gmail.com" class="form-control mb" name="email" id="email" required="required" autofocus="autofocus" /> 
						</div>
					</div>
				</div>
							<button class="btn  btn-primary btn-block fa fa-sign-in fa" type="submit">&nbsp;Send An Email</button>
					
						</form>
						

					

					</div>
				</div>
				
			</div>
		</div>
	</div>
</body>
</html>