<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
<link href='https://fonts.googleapis.com/css?family=Passion+One'
	rel='stylesheet' type='text/css' />
<link href='https://fonts.googleapis.com/css?family=Oxygen'
	rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet" href="/css/jquery.dataTable.min.css" />
<link rel="stylesheet" href="/css/dataTables.bootstrap.min.css" />


<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
<link href='https://fonts.googleapis.com/css?family=Passion+One'
	rel='stylesheet' type='text/css' />
<link href='https://fonts.googleapis.com/css?family=Oxygen'
	rel='stylesheet' type='text/css' />

<!--  -->
<!-- Font awesome -->
<link rel="stylesheet" href="css/font-awesome.min.css" />
<!-- Sandstone Bootstrap CSS -->

<!-- 	garura -->
<link rel="stylesheet" href="css/bootstrap.min.css" />




<!-- 	hano -->
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet" type="text/css" />
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css"
	rel="stylesheet" type="text/css" />

<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />

<!-- Optional theme -->
<link rel="styleshe/et"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />




<!-- birangira -->


<link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet" href="/css/bootstrap-datetimepicker.css" />

<!-- Bootstrap Datatables -->
<link rel="stylesheet" href="css/dataTables.bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" />
<!-- Bootstrap social button library -->
<link rel="stylesheet" href="css/bootstrap-social.css" />
<!-- Bootstrap select -->
<link rel="stylesheet" href="css/bootstrap-select.css" />
<!-- Bootstrap file input -->
<link rel="stylesheet" href="css/fileinput.min.css" />
<!-- Awesome Bootstrap checkbox -->
<link rel="stylesheet" href="css/awesome-bootstrap-checkbox.css" />
<!-- Admin Stye -->
<link rel="stylesheet" href="css/style.css" />
</head>

<body>
<div role="tabpanel" class="tab-pane" id="role">
									.
									<div class="container4">
										<button class="btn btn-success" data-toggle="modal"
											data-target="#myModal2">Add</button>
										<form method="post">
											<table id="mytable"
												class="table table-bordered table-striped table-hover">
												<thead>
													<tr>
														<th>Role Id</th>
														<th>Role Name</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody>
													<tr data-th-each="eachRole : ${listRole}">
														<td data-th-text="${eachRole.roleId}">...</td>
														<td data-th-text="${eachRole.name}">...</td>
														<td><a class="btn btn-primary eBtn"
															th:href="@{/deleteRole(name=${eachRole.name})}" style="background-color: red;">Delete</a></td>
													</tr>
												</tbody>
												<tfoot>
													<tr>
														<th>Role Id</th>
														<th>Role Name</th>
														<th>Action</th>
													</tr>
												</tfoot>
											</table>
										</form>
										
										
									</div>
								</div>
								<div class="myform">
									<form id="fmmodal" method="post" th:action="@{/createRole}">
										<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
											aria-labelledby="myModalLabel" style="top: 25%;">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header"
														style="text-align: center; border: none; outline: none; color: rgb(0, 68, 138);">
														<button type="button" class="close" data-dismiss="modal"
															aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
														<h4 class="modal-title" id="myModalLabel">Role</h4>
													</div>
													<div class="modal-body fmmodal"
														style="font-family: time new roman;">
														<div class="inputBox">
															<div class="inputText">Role Id</div>
															<input type="text" th:value="${role.roleId}" id="roleId"
																name="roleId" required="required" class="input" />
														</div>
														<div class="inputBox">
															<div class="inputText">Role Name</div>
															<input type="text" th:value="${role.name}" id="name" name="name"
																required="required" class="input" />
														</div>
														<div class="modal-footer"
															style="text-align: center; border: none; outline: none;">
															<button type="submit" name="submit" class="btn">Save</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
	<!-- /#wrapper -->


<script src="js2/main.js"></script>
	<script src="js2/bootstrap.js"></script>
	<script src="js2/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(".input").focus(function() {
			$(this).parent().addClass("focus");
		}).blur(function() {
			if ($(this).val() === '') {
				$(this).parent().removeClass("focus");
			}
		})
	</script>
	<script src="js2/query.min.js"></script>
	<script src="js/easing.min.js"></script>
</body>

</html>
